<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Physical Health</a>
    <button (click)="displayMenu()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/activities']">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/diet-plan']">Diet Plan</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
