<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid gap-3">
    <a class="navbar-brand" href="#">Physical Health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/activities']">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/diet-plan']">Diet Plan</a>
        </li>
      </ul>
      <form class="d-flex ms-auto me-1 gap-2">
        <button class="btn btn-outline-success" type="submit" [routerLink]="['/login']">Login</button>
      </form>
    </div>
  </div>
</nav>
