<br />
<br />
<br />
<br />
<div class="container-fluid d-flex justify-content-center">
  <div class="card text-white bg-dark mb-3 w-50">
    <div class="card-header border-success">Create New Activity</div>
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text bg-success text-white justify-content-center" id="inputGroup-sizing-default" style="width: 6vw;">Name</span>
        <input type="text" class="form-control" id="name" placeholder="Activity Name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-success text-white justify-content-center" id="inputGroup-sizing-default" style="width: 6vw;">Time</span>
        <input type="text" class="form-control" id="time" placeholder="2h" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3 ">
        <span class="input-group-text bg-success text-white justify-content-center" id="inputGroup-sizing-default" style="width: 6vw;">Description</span>
        <textarea class="form-control" id="description" placeholder="This activity is for....." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></textarea>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-success text-white justify-content-center" id="inputGroup-sizing-default" style="width: 6vw;">Requisites</span>
        <textarea type="text" class="form-control" id="requisites" placeholder="Parallettes, Resistance Bands, Pull Up Bar....." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></textarea>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text bg-success text-white justify-content-center" id="inputGroup-sizing-default" style="width: 6vw;">Date</span>
        <input type="text" class="form-control" id="date" placeholder="Sep 12, 2021" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-around">
      <button type="submit"
          class="btn btn-success"
          [routerLink]="['/activities']">
              <i class="fas fa-chevron-left"></i>
          Back
      </button>
      <button type="submit"
          class="btn btn-success"
          (click)="createItem()"
          [routerLink]="['/activities']">
              <i class="far fa-trash-alt fa-lg"></i>
          Create
      </button>
    </div>

</div>

